// git add . && git commit -m 'adjust time thumbhold' && git push

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

/* On demand includes */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

//     0  1  2  3  4     5  6  7  8  9
//    10 11 12 13 14    15 16 17 18 19
//20  21 22 23 24 25    26 27 28 29 30  31
//        32 33 34         35 36 37

#define BASE 0
// Key Drag Layers

#define KDL_Q_0 1
#define KDL_W_1 2  
#define KDL_F_2 3
#define KDL_P_3 4
/*
#define KDL_B_4 5
#define KDL_J_5 6
#define KDL_L_6 7
#define KDL_U_7 8
#define KDL_Y_8 9
#define KDL_SQT_9 10
#define KDL_A_10 11

#define KDL_R_11 12
#define KDL_S_12 13
#define KDL_T_13 14
#define KDL_G_14 15
#define KDL_M_15 16
#define KDL_NN_16 17
#define KDL_E_17 18
#define KDL_I_18 19
#define KDL_O_19 20

#define KDL_Z_21 21
#define KDL_X_22 22
#define KDL_C_23 23
#define KDL_D_24 24
#define KDL_V_25 25
#define KDL_K_26 26
#define KDL_H_27 27
#define KDL_COM_28 28
#define KDL_DOT_29 29
#define KDL_SLH_30 30

#define DRAGMOD 31

#define LOWER  32
#define RAISE  33
#define HOMEROW 34
#define NAVOVERR 35
#define DIRECTACC 36
#define FUNC 37
#define ADJ  38
#define NUMBERS 39
*/

#define DRAGMOD 1

#define LOWER  2
#define RAISE  3
#define HOMEROW 4
#define NAVOVERR 5
#define DIRECTACC 6
#define FUNC 7
#define ADJ  8
#define NUMBERS 9

//RAISE
//NAVOVERR
//DRAGCOMMAND
//NUMBERS
//TILDES + DIRECTACC

//cmd+TAB<>DRAGCOMMAND  //shift+BKSPACE<>TILDES(with some DIRECTACC)          //ctrl+SPC<>NUMBERS(require-prior-idle-ms)  //alt+ENT<>NAVOVERR(with top numbers)
//missing top funcs
//any RAISE+cmd<>RAISE  //any TILDES(with some DIRECTACC)+shift<>TILDES(with some DIRECTACC)          //any NAVOVERR+ctrl<>NAVOVERR  //any NUMBERS(require-prior-idle-ms with top numbers)+alt<>NUMBERS
//shift+ctrl<>FUNC
//shift+alt<>NUMBERS
//A|S|R|T+cmd+shift<>DRAGCOMMAND

//cmd+TAB+!DRAGCOMMAND   //shift+BCKS+!RAISE                //NUMBERS+SPC+!TILDES   //LOWERNAV+ENT+!alt

// for RAISE
// when kp A 
// |_ macro 
// |__ on_press 
// |___ mo KDL_A_10
// |___ behavior bh_kt_on
// |____ on tap
// |_____ kp A
// |____ on hold with cmd
// |_____ kt_on PIPE 
// |_ on release
// |__ kt_off PIPE 

// for RAISE
// when kp A 
// |_ macro 
// |__ on_press 
// |___ behavior bh_kt_on
// |____ on tap
// |_____ kp A
// |____ on hold with cmd
// |_____ mo KDL_A_10
// |_____ kt_on PIPE 
// |_ on release
// |__ kt_off PIPE 

// for RAISE
// when kp A 
// |_ macro 
// |__ on_press 
// |___ behavior bh_kt_on
// |____ on tap
// |_____ kp A
// |____ on hold with cmd
// |_____ mo KDL_A_10
// |_____ kt_on PIPE 
// |_ on release
// |__ kt_off PIPE 



// check if mo KDL_A_10 remain activated when macro on release. 
// otherwise on hold with cmd, macro for on press shoult sticky layer on and sticky layer of on release



/ {
    #include "macros/macros_general.dtsi"
    #include "behaviors/behaviors_general.dtsi"
    #include "combos/combos_general.dtsi"

    keymap {
        compatible = "zmk,keymap";
 base_layer {
            label = "BASE";
            bindings = <
                             &kh KDL_Q_0 Q      &kh KDL_W_1 W     &kh KDL_F_2 F     &kh KDL_P_3 P    &kp B                                                       &kp J     &kp L      &kp U           &kp Y        &kp   SQT
                             &kp A     &kp R    &kp S    &kp T   &kp G                                                      &kp M    &kp N    &kp E         &kp I      &kp O
&lm_homerow_short LALT LALT  &kp Z     &kp X    &kp C    &kp D   &kp V                                                      &kp K    &kp H    &kp COMMA     &kp DOT    &kp SLASH    &lm_homerow LGUI LGUI
                                                            &base_th_mo_kp_hp RAISE TAB  &lm_homerow_short LGUI DELETE  &lm_homerow_short LSHFT BACKSPACE    &spacelm LCTRL SPACE  &td_nav_esc              &lm_homerow_short LALT ENTER
            >;
        };

/*
        base_layer {
            label = "BASE";
            bindings = <
                             &kh KDL_Q_0 Q      &kh KDL_W_1 W     &kh KDL_F_2 F     &kh KDL_P_3 P    &kh KDL_B_4 B                                                       &kh KDL_J_5 J     &kh KDL_L_6 L      &kh KDL_U_7 U           &kh KDL_Y_8 Y        &kd KDL_SQT_9 SQT
                             &kh KDL_A_10 A     &kh KDL_R_11 R    &kh KDL_S_12 S    &kh KDL_T_13 T   &kh KDL_G_14 G                                                      &kh KDL_M_15 M    &kh KDL_NN_16 N    &kh KDL_E_17 E          &kh KDL_I_18 I       &kh KDL_O_19 O
&lm_homerow_short LALT LALT  &kh KDL_Z_21 Z     &kh KDL_X_22 X    &kh KDL_C_23 C    &kh KDL_D_24 D   &kh KDL_V_25 V                                                      &kh KDL_K_26 K    &kh KDL_H_27 H     &kh KDL_COM_28 COMMA    &kd KDL_DOT_29 DOT   &kd KDL_SLH_30 SLASH    &lm_homerow LGUI LGUI
                                                            &base_th_mo_kp_hp RAISE TAB  &lm_homerow_short LGUI DELETE  &lm_homerow_short LSHFT BACKSPACE    &spacelm LCTRL SPACE  &td_nav_esc              &lm_homerow_short LALT ENTER
            >;
        };
*/

         layer_KDL_Q_0 {
            label = "KDL_Q_0";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &kp EXCL  &trans
            >;
        };


layer_kdl_w_1 {
     label = "KDL_W_1";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &kp AT  &trans
            >;
        };
 
layer_kdl_f_2 {
     label = "KDL_F_2";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &kp HASH  &trans
            >;
        };

layer_kdl_p_3 {
     label = "KDL_P_3";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &kp PRCNT  &trans
            >;
        };
/*
layer_kdl_b_4 {
     label = "KDL_B_4";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &kp DLLR  &trans
            >;
        };
 
layer_kdl_j_5 {
     label = "KDL_J_5";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &kp CARET  &trans
            >;
        };
 
layer_kdl_l_6 {
     label = "KDL_L_6";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_u_7 {
            label = "KDL_U_7";
            bindings = <
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &mc_tsd U    &trans  &trans  &trans
            >;
        };
 
layer_kdl_y_8 {
     label = "KDL_Y_8";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_sqt_9 {
     label = "KDL_SQT_9";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };

layer_kdl_a_10 {
            label = "KDL_A_10";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };

layer_kdl_r_11 {
            label = "KDL_R_11";
            bindings = <
        &trans  &trans  &trans  &trans     &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LCTRL  &trans    &trans  &trans  &trans
            >;
        };
 
layer_kdl_s_12 {
            label = "KDL_S_12";
            bindings = <
        &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LALT  &trans    &trans  &trans  &trans
            >;
        };
 
layer_kdl_t_13 {
            label = "KDL_T_13";
            bindings = <
        &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LGUI  &trans    &trans  &trans  &trans
            >;
        };
 
layer_kdl_g_14 {
     label = "KDL_G_14";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_m_15 {
     label = "KDL_M_15";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_nn_16 {
            label = "KDL_NN_16";
            bindings = <
        &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &mc_ennesd N    &trans  &trans  &trans
            >;
        };
 
 layer_kdl_e_17 {
            label = "KDL_E_17";
            bindings = <
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &mc_tsd E    &mo LOWER  &trans  &trans
            >;
        };
 
layer_kdl_i_18 {
            label = "KDL_I_18";
            bindings = <
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &mc_tsd I    &trans  &trans  &trans
            >;
        };
 
layer_kdl_o_19 {
            label = "KDL_O_19";
            bindings = <
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &mc_tsd O    &trans  &trans  &trans
            >;
        };

layer_kdl_z_21 {
     label = "KDL_Z_21";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_x_22 {
     label = "KDL_X_22";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_c_23 {
     label = "KDL_C_23";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_d_24 {
     label = "KDL_D_24";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_v_25 {
     label = "KDL_V_25";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_k_26 {
     label = "KDL_K_26";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_h_27 {
     label = "KDL_H_27";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_com_28 {
     label = "KDL_COM_28";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_dot_29 {
     label = "KDL_DOT_29";
            bindings = <
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LSHFT  &mc_tsd A    &trans  &trans  &trans
            >;
        };
 
layer_kdl_slh_30 {
            label = "KDL_SLH_30";
            bindings = <
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &kp QUESTION  &trans
                        &trans  &trans  &mc_quesd    &trans  &trans  &trans
            >;
        };
*/
        layer_DRAGMOD {
            label = "DRAGMOD";
            bindings = <
        &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans        &mo LOWER  &trans  &trans
            >;
        };

        lower_layer {
            label = "LOWER";
            bindings = <
                  &kp N1     &kp N2     &kp N3                  &kp N4                    &kp N5                          &kp N6              &kp N7                     &kp N8                    &kp N9     &kp N0
                  &kp LSHFT  &kp LCTRL  &kp LALT                &kp LGUI                  &kp UNDER                       &kp PLUS            &kp RGUI                   &kp UP                    &kp RCTRL  &kp RSHFT
&lrlMo LALT LALT  &kp BSLH   &kp LBKT   &kp RBKT                &kp GRAVE                 &kp MINUS                       &kp EQUAL           &kp LEFT                   &kp DOWN                  &kp RIGHT  &lrrMo RALT SLASH  &lrrMo LGUI LGUI
                                        &th_mo_kp_hp LOWER TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        raise_layer {
            label = "RAISE";
            bindings = <
                  &kp EXCL           &kp AT             &kp HASH                &kp DLLR                  &kp PRCNT                       &kp CARET           &kp AMPS                   &kp STAR                  &kp LPAR         &kp RPAR
                  &lrlMo LSHFT PIPE  &lrlMo LCTRL LBRC  &lrlMo LALT RBRC        &lrlMo LCTRL TILDE        &kp UNDER                       &kp PLUS            &lrrMo RGUI COLON          &lrrMo RALT LT            &lrrMo RCTRL GT  &lrrMo RSHFT QUESTION
&lrlMo LALT LALT  &kp BSLH           &kp LBKT           &kp RBKT                &kp GRAVE                 &kp MINUS                       &kp EQUAL           &kp SEMI                   &kp COMMA                 &kp DOT          &kp SLASH              &lrrMo LGUI LGUI
                                                        &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        layer_homerow {
            label = "HOMEROW";
            bindings = <
                  &kp Q           &kp W           &kp F                   &kp P                     &kp B                           &kp J               &kp L                      &kp U                     &kp Y           &kp SQT
                  &lrlMo LSHFT A  &lrlMo LCTRL R  &lrlMo LALT S           &lrlMo LGUI T             &kp G                           &kp M               &lrrMo RGUI N              &lrrMo RALT E             &lrrMo RCTRL I  &lrrMo RSHFT O
&lrlMo LALT LALT  &kp Z           &kp X           &kp C                   &kp D                     &kp V                           &kp K               &kp H                      &kp COMMA                 &kp DOT         &lrrMo RALT FSLH  &lrrMo LGUI LGUI
                                                  &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        layer_navoverr {
            label = "NAVOVERR";
            bindings = <
                  &kp F1     &kp F2     &kp F3                  &kp F4                    &kp F5                          &kp F6              &kp F7                     &kp F8                    &kp F9          &kp F10
                  &sk LSHFT  &sk LCTRL  &sk LALT                &sk LGUI                  &kp F11                         &kp F12             &lrrMo RGUI N              &kp UP                    &lrrMo RCTRL I  &kp RSHFT
&lrlMo LALT LALT  &none      &none      &none                   &none                     &caps_word                      &kp CAPS            &kp LEFT                   &kp DOWN                  &kp RIGHT       &kp RALT   &lrrMo LGUI LGUI
                                        &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        layer_direcaacc {
            label = "DIRECTACC";
            bindings = <
           &lrlMo LA(LS(H)) LA(LS(F12))  &td_find_s_ht A LG(F)  &td_find_g_ht A LG(LS(F))  &kp LC(MINUS)             &kp LC(LS(MINUS))               &kp C_VOL_UP        &kp C_PREV                 &kp C_PP      &kp C_NEXT  &trans
           &mkp MB5                      &mkp MB4               &mkp RCLK                  &mkp LCLK                 &tdSelectCoppingLR A A          &kp C_VOL_DN        &sk RGUI                   &sk RALT      &sk RCTRL   &sk RSHFT
&mc_sleep  &trans                        &trans                 &trans                     &trans                    &scfw_l_to_r                    &kp C_MUTE          &kp C_BRI_DN               &kp C_BRI_UP  &bt_0       &bt_1      &bt_2
                                                                &th_mo_kp_hp RAISE TAB     &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &mo ADJ
            >;
        };

        layer_func {
            label = "FUNC";
            bindings = <
                  &kp F1     &kp F2     &kp F3                  &kp F4                    &kp F5                          &kp F6              &kp F7                     &kp F8                    &kp F9    &kp F10
                  &sk LSHFT  &sk LCTRL  &sk LALT                &sk LGUI                  &kp F11                         &kp F12             &sk RGUI                   &sk RALT                  &sk RGUI  &sk RSHFT
&lrlMo LALT LALT  &none      &none      &none                   &none                     &kp F11                         &kp F12             &none                      &none                     &none     &none      &lrrMo LGUI LGUI
                                        &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &th_mo_kp_hp NAVOVERR ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
             &bt_0         &bt_1   &bt_2                   &bt_3                     &bt_4                           &trans                 &trans                  &trans                    &trans  &trans
             &out OUT_USB  &trans  &trans                  &trans                    &trans                          &trans                 &trans                  &trans                    &trans  &trans
&bootloader  &sys_reset    &trans  &trans                  &trans                    &trans                          &trans                 &trans                  &trans                    &trans  &sys_reset  &bootloader
                                   &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space NAVOVERR SPACE  &th_kp_kp_hp LCTRL ESC  &th_kp_kp_hp LALT ENTER
            >;
        };

        layer_numbers {
            label = "NUMBERS";
            bindings = <
                  &kp EXCL           &kp AT             &kp HASH                &kp DLLR                  &kp PRCNT                       &kp MINUS          &kp N7                    &kp N8                   &kp N9           &kp STAR
                  &kp LSHFT          &kp LCTRL          &kp LALT                &kp LGUI                  &kp COMMA                       &kp DOT            &kp N4                    &kp N5                   &kp N6           &kp N0
&lrlMo LALT LALT  &kp BSLH           &kp LBKT           &kp RBKT                &kp GRAVE                 &kp MINUS                       &kp PLUS           &kp N1                    &kp N2                   &kp N3           &kp SLASH              &lrrMo LGUI LGUI
                                                        &th_mo_kp_hp RAISE TAB  &th_kp_kp_hp LGUI DELETE  &th_kp_kp_hp LSHFT BACKSPACE    &space LCTRL SPACE  &tog_off NUMBERS  &th_kp_kp_hp LALT ENTER
            >;
        };
    };
};
