/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        custom_combo: custom_combo {
            compatible = "zmk,behavior-custom-combo";
            #binding-cells = <2>;
            quick-binding = <&kp>;
            quick-param1 = <LEFT>;
            hold-binding = <&mo>;
            hold-param1 = <LOWER>;
            label = "CUSTOM_COMBO";
        };
    };
}; 